/*-  CSS RESET
----------------------------------------------------------------------*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  list-style:none;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}


/*-  BASE STYLES
----------------------------------------------------------------------*/

html {
	background: #F2F2F2;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {

	color: #4EA8D7;
	font-weight: bold;
	text-decoration: none;

}

a:hover, a:focus, a:active, h1 a:hover, h1 a:focus, h1 a:active {
	text-decoration: underline;
	color: #666;
}

body {

	color: #333;
	font: normal 16px/26px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	max-width: 700px;
	margin: 75px auto;
	padding: 0 20px;
	
}



html, body {
	-webkit-font-smoothing: antialiased;
}

aside, article, #archive {
	background: #FFF;
	border: 1px solid #E5E5E5;
	clear: both;
	padding-bottom: 18px;
	border-radius: 5px;
	border-bottom-width: 2px;
}

/*
article div {

	background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(whiteSmoke));
	margin: 3px;

}
*/

#archive h2 {

	background: #F9F9F9;
	border-top: 1px solid #EFEFEF;
	padding-top: 22px;
	margin-top:0;
}

article { 
	margin-top: 40px;
}

h1, h2, h3, h4, p, ul, pre { 
	margin-bottom: 22px;
	padding:0 40px;
}

article ul li { list-style-type: circle; list-style-position: inside; }

h1, h2, h3, h4 { 
	margin-top: 22px;
}

h1 { font-size: 21px; }
h1 a { color: #000; }

h1, h2 {

	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 22px;

}

aside { 
	padding: 40px;
}

aside p {
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline;
	padding: 0 5px;
	border-left: 1px solid rgba(0,0,0,0.3);
}

nav ul li:first-of-type {

	border: none;

}

nav ul { 
	display: block;
	float: right;
	overflow: auto;
	margin-bottom: 25px;
	padding: 0;
}

nav ul li a {
	color: #666;
	text-decoration: none;
	font-weight: normal;
	
/* 	color: #000; */
}

nav ul li a:hover, nav ul li a:focus {
	color: #333;
	background: none;
}

aside img {

	float: left;
	margin-right: 40px;
	margin-top: -90px;
	margin-bottom: 40px;

}

.post-image {

	border-bottom: 1px solid #EEEEEE;
	height: auto;
	display: block;
	max-width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}

.meta { 
	border-top: 1px solid #E5E5E5; 
	padding-top: 40px; 
	margin-top: 22px; 
	opacity: 0.6;    
	-webkit-transition:opacity 0.3s ease-in;
    -moz-transition:opacity 0.3s ease-in;
    -o-transition:opacity 0.3s ease-in;
    transition:opacity 0.3s ease-in;
}

.meta:hover { 
	opacity: 1; 
}

.permlink { float: right; display: block; background: url(/assets/permalink.png) center right no-repeat; padding-right: 30px;}
@media screen and (max-width: 700px) {

	aside img { float: none; margin:0 auto; display: block; }
	body      { margin: 40px auto;}
	pre 	  {  overflow: auto;}
	

}